<div class="global couleur-main">
    <main class='principal'>
    	<section class="accueil">
	    	<h1><%= __('titreAccueil') %></h1>
	    	<h2><%= __('sousTitreAccueil') %></h2>
	    	<h3><%= __('remiseAccueil') %></h3>
	    	<p><%= __('descriptionAccueil') %></p>
    	</section>
    </main>
</div>	

